.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center the container vertically */
  }
  
  .signin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px; /* Adjust the max-width as needed */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  
  button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  

  .input-icon {
    position: relative;
}

.input-icon i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.input-icon input {
    padding-left: 30px; /* Adjust based on the width of the icon */
}
.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.green-btn {
  background-color: green;
  color: white;
}

.white-btn {
  background-color: white;
  color: green;
  border: 2px solid green;
}

.green-btn i, .white-btn i {
  margin-right: 8px;
}