<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Adjust height as needed */
    }
    .signin-form {
        width: 400px; /* Adjust width as needed */
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .form-group {
        margin-bottom: 15px;
    }
</style>

<div class="container">
    <div class="signin-form">
        <form #f="ngForm">
            <div class="form-group">
                <label for="firstname"><i class="fas fa-user"></i> First Name</label>
                <input type="text" name="firstname" [(ngModel)]="dataRandonneur.firstname" id="firstname" placeholder="Your First Name" />
            </div>

            <div class="form-group">
                <label for="lastname"><i class="fas fa-user"></i> Last Name</label>
                <input type="text" name="lastname" [(ngModel)]="dataRandonneur.lastname" id="lastname" placeholder="Your Last Name" />
            </div>

            <div class="form-group">
                <label for="email"><i class="fas fa-envelope"></i> Email</label>
                <input type="email" name="email" [(ngModel)]="dataRandonneur.email" id="email" placeholder="Your Email" />
            </div>

            <div class="form-group">
                <label for="age"><i class="fas fa-birthday-cake"></i> Age</label>
                <input type="number" name="age" [(ngModel)]="dataRandonneur.age" id="age" placeholder="Your Age" />
            </div>

            <div class="form-group">
                <label for="tel"><i class="fas fa-phone"></i> Phone Number</label>
                <input type="tel" name="tel" [(ngModel)]="dataRandonneur.tel" id="tel" placeholder="Your Phone Number" />
            </div>

            <div class="form-group">
                <label for="address"><i class="fas fa-map-marker-alt"></i> Address</label>
                <input type="text" name="address" [(ngModel)]="dataRandonneur.address" id="address" placeholder="Your Address" />
            </div>

            <button type="button" mat-raised-button style="background-color: #9A616D; border: none; margin-right: 20px;" data-bs-dismiss="modal" (click)="onEditRandonneur(f)"><i class="fas fa-edit"></i> Edit</button>
            <button type="button" mat-raised-button data-bs-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
        </form>
    </div>
</div>