<div class="orders">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body d-flex justify-content-between align-items-center">
          <h3 class="m-0 font-weight-bold text-primary">
            <span style="color: #5cc15e">Toutes les randonneurs</span>
          </h3>
          <button
            type="button"
            class="btn"
            routerLink="admin/addRandonneur"
            style="background-color: green; color: white; font-weight: bold;"
            onmouseover="this.style.backgroundColor='white'; this.style.color='green';"
            onmouseout="this.style.backgroundColor='green'; this.style.color='white';"
          >
            Ajouter Randonneur
          </button>
        </div>
        <div class="card-body">
          <div class="table-stats order-table ov-h">
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th class="avatar">Image</th>
                  <th>Prénom</th>
                  <th>Nom</th>
                  <th>Email</th>
                  <th>Âge</th>
                  <th>Téléphone</th>
                  <th>Adresse</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let randonneur of randonneurList">
                  <td>{{ randonneur.idRandonneur }}</td>
                  <td>
                    <img
                      *ngIf="randonneur.image && randonneur.image !== 'Null'"
                      [src]="baseURL + 'storage/files/' + randonneur.image"
                      alt="Avatar"
                    />
                    <span *ngIf="!randonneur.image || randonneur.image === 'Null'">
                      Aucune image disponible
                    </span>
                  </td>
                  <td>{{ randonneur.firstname }}</td>
                  <td>{{ randonneur.lastname }}</td>
                  <td>{{ randonneur.email }}</td>
                  <td>{{ randonneur.age }}</td>
                  <td>{{ randonneur.tel }}</td>
                  <td>{{ randonneur.address }}</td>
                  <td style="white-space: nowrap;">
                    <button
                      type="button"
                      style="background-color: skyblue; margin-right: 10px; display: inline-block;"
                    >
                      Détails
                    </button>
                    <button
                      type="button"
                      style="background-color: red; margin-right: 10px; display: inline-block;"
                      (click)="onDeleteRandonneur(randonneur.idRandonneur)"
                    >
                      Supprimer
                    </button>
                    <button
                      type="button"
                      style="background-color: green; display: inline-block;"
                      (click)="getdata(randonneur.idRandonneur,randonneur.firstname, randonneur.lastname,randonneur.email, randonneur.age,randonneur.tel,randonneur.address)"
                      routerLink="admin/editRandonneur"
                      >
                      Modifier
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Section de confirmation de suppression -->
<div *ngIf="showDeleteConfirmation" class="delete-confirmation">
  <p>Êtes-vous sûr(e) de vouloir supprimer ce randonneur ?</p>
  <button (click)="confirmDelete()">Oui</button>
  <button (click)="cancelDelete()">Non</button>
</div>
